.text {
  margin: 10px;
}

p {
  color: #e7e7e7;
  font-size: 1.3rem;
}
.content {
  display: flex;
  justify-content: space-between;
}
.icon-2 {
  margin-top: 23px;
  margin-right: 10px;
  font-size: 2rem;
  cursor: pointer;
}

.icon-text {
  padding-left: 20px;
}

.check {
  color: #2e802e;
  transition: 0.2s ease transform;
}
.check:hover {
  transform: scale(1.3);
}

.trash {
  color: #b10909;
  transition: 0.2s ease transform;
}
.trash:hover {
  transform: scale(1.3);
}
